<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2019-2020 Mamoe Technologies and contributors.
  ~
  ~  此源代码的使用受 GNU AFFERO GENERAL PUBLIC LICENSE version 3 许可证的约束, 可以在以下链接找到该许可证.
  ~  Use of this source code is governed by the GNU AGPLv3 license that can be found through the following link.
  ~
  ~  https://github.com/mamoe/mirai/blob/master/LICENSE
  -->

<manifest package="net.mamoe.mirai" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
</manifest>