name: mirai-doc Publish

on:
  push:
    tags:
      - 'v*' # 正式版本


jobs:
  mirai-docs:
    runs-on: macos-12 # 14G memory
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: chmod -R 777 *
        run: chmod -R 777 *

      - name: Prepare environment
        run: ./gradlew :mirai-dokka:prepare

      - name: Dokka
        run: ./gradlew dokkaHtmlMultiModule

      - name: Update version number
        run: ./gradlew :mirai-dokka:update-vers

      - name: Deploy
        run: ./gradlew :mirai-dokka:deployPages
        env:
          gh_token: ${{ secrets.MAMOE_TOKEN }}
